@inject IHttpClientFactory ClientFactory
@inject ILocalStorageService LocalStorage
@inject EventAggregator.Blazor.IEventAggregator Aggregator
@implements EventAggregator.Blazor.IHandle<CheckoutStarted>

<div class="modal fade" id="checkoutModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Checkout</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3>Summary</h3>
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Title</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Items != null)
                        {
                            @foreach (var item in Items)
                            {
                                <tr>
                                    <td>@item.Title</td>
                                    <td>@item.Quantity</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <hr>
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="cardholder-name">Billing Name</label>
                            <input type="text" id="cardholder-name" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="card-element">Payment details</label>
                            <div id="card-element"></div>
                        </div>
                        <div class="alert alert-danger" hidden id="card-error" role="alert">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" @onclick="(e => SubmitCheckout())">Submit</button>
            </div>
        </div>
    </div>
</div>

@code {
    IEnumerable<CartItem> Items { get; set; }

    private static Func<Task> _LocalClearCart;
    private async Task LocalClearCart()
    {
        await LocalStorage.RemoveItemAsync("state.cart");
        Items = null;
        await Aggregator.PublishAsync(new ShoppingCartUpdated { ItemCount = 0 });
    }

    protected override void OnInitialized()
    {
        Aggregator.Subscribe(this);
        _LocalClearCart = LocalClearCart;
    }

    public async Task HandleAsync(CheckoutStarted cartUpdated)
    {
        // get state
        var state = await LocalStorage.GetItemAsync<Dictionary<string, CartItem>>("state.cart") ?? new();
        Items = state.Values;
        StateHasChanged();
    }

    protected async Task SubmitCheckout()
    {
        if (Items == null || !Items.Any()) return;

        var client = ClientFactory.CreateClient("localapi");
        await client.PostAsJsonAsync($"api/checkout", Items);
    }

    [JSInvokable("ClearCart")]
    public static void ClearCart()
    {
        Console.WriteLine("Clear cart");
        _LocalClearCart.Invoke();
    }
}
